.emphasise {
	color: red;
	font-size: 40px;
}
.rect {
	border: 1px solid black;
	padding: 2%;
	background-color: yellow;
}
form > table {
	border: 1px solid black; 
	background-color: yellow; 
	padding: 2%;
}
.toggleForm {
	border: 1px solid red;
	cursor: pointer;
}
#friends, td, th {
	border: 1px solid black;
	margin: 4%;
}